<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>User</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="vm.form" ng-submit="vm.addUser()" novalidate>

        <div class="form-group" ng-class="{ 'has-success': vm.form.code.$valid && vm.submitted,
                                            'has-error': vm.form.code.$invalid && vm.submitted }">
          <label>Code</label>

          <input type="text" name="code" class="form-control" ng-model="vm.user.code"
                 required 
                 autofocus 
                 mongoose-error/>
          <p class="help-block" ng-show="vm.form.code.$error.required && vm.submitted">
            A code is required
          </p>
          <p class="help-block" ng-show="vm.form.code.$error.mongoose">
            {{ vm.errors.code }}
          </p>
          <p class="help-block" ng-show="vm.form.code.$error.valid">
            Code is invalid
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': vm.form.name.$valid && vm.submitted,
                                            'has-error': vm.form.name.$invalid && vm.submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="vm.user.name"
                 required/>
          <p class="help-block" ng-show="vm.form.name.$error.required && vm.submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': vm.form.nickname.$valid && vm.submitted,
                                            'has-error': vm.form.nickname.$invalid && vm.submitted }">
          <label>Nickname</label>

          <input type="text" name="nickname" class="form-control" ng-model="vm.user.nickname"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="vm.form.nickname.$error.required && vm.submitted">
            A nickname is required
          </p>
          <p class="help-block" ng-show="vm.form.nickname.$error.mongoose">
            {{ vm.errors.nickname }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': vm.form.email.$valid && vm.submitted,
                                            'has-error': vm.form.email.$invalid && vm.submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="vm.form.email.$error.email && vm.submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="vm.form.email.$error.required && vm.submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="vm.form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': vm.form.born.$valid && vm.submitted,
                                            'has-error': vm.form.born.$invalid && vm.submitted }">
          <label>Born date</label>
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{vm.datePicker.format}}" ng-model="vm.user.born" is-open="vm.datePicker.opened" min-date="'1900'" max-date="'2015'" datepicker-options="vm.datePicker.dateOptions" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.datePicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
          <p class="help-block" ng-show="vm.form.born.$error.required && vm.submitted">
            Born date is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': vm.form.dni.$valid && vm.submitted,
                                            'has-error': vm.form.dni.$invalid && vm.submitted }">
          <label>DNI</label>

          <input type="text" name="dni" class="form-control" ng-model="vm.user.dni"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="vm.form.dni.$error.required && vm.submitted">
            DNI is required
          </p>
          <p class="help-block" ng-show="vm.form.dni.$error.valid && vm.submitted">
            DNI is invalid
          </p>
          <p class="help-block" ng-show="vm.form.dni.$error.mongoose">
            {{ vm.errors.dni }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': vm.form.postalCode.$valid && vm.submitted,
                                            'has-error': vm.form.postalCode.$invalid && vm.submitted }">
          <label>Postal Code</label>

          <input type="text" name="postalCode" class="form-control" ng-model="vm.user.postalCode"
                 required/>
          <p class="help-block" ng-show="vm.form.postalCode.$error.required && vm.submitted">
            Postal Code date is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-error': vm.errors.gender && vm.submitted }">

          <label>Gender</label>
          <br>
          <div class="btn-group" name="gender">
              <label class="btn btn-success" ng-model="vm.user.gender" btn-radio="'male'"  uncheckable>male</label>
              <label class="btn btn-success" ng-model="vm.user.gender" btn-radio="'female'" uncheckable>female</label>
              <label class="btn btn-success" ng-model="vm.user.gender" btn-radio="'other'" uncheckable>other</label>
          </div>
          <p class="help-block" ng-show="vm.errors.gender">
            {{ vm.errors.gender }}
          </p>
        </div>

        <div class="form-group">

          <label>Played Survival Zombie</label>
          <br>
          <div class="btn-group">
              <label class="btn btn-success" ng-model="vm.user.playedSurvivalZombie" btn-radio="'true'"  uncheckable>true</label>
              <label class="btn btn-success" ng-model="vm.user.playedSurvivalZombie" btn-radio="'false'" uncheckable>false</label>
          </div>

        </div>

        <div class="form-group" ng-show="vm.isAdmin()">

          <label>Role</label>
          <br>
          <div class="btn-group">
              <label class="btn btn-success" ng-model="vm.user.role" btn-radio="'user'"  uncheckable>user</label>
              <label class="btn btn-success" ng-model="vm.user.role" btn-radio="'staff'" uncheckable>staff</label>
              <label class="btn btn-success" ng-model="vm.user.role" btn-radio="'admin'" uncheckable>admin</label>
          </div>

        </div>

        <div class="form-group" ng-class="{ 'has-success': vm.form.password.$valid && vm.submitted,
                                            'has-error': vm.form.password.$invalid && vm.submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                 ng-minlength="3"
                 mongoose-error/>
          <p class="help-block"
             ng-show="(vm.form.password.$error.minlength || vm.form.password.$error.required) && vm.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="vm.form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>

        <div ng-show="vm.isAdmin()">
          <div class="form-group" ng-class="{ 'has-success': vm.form.stats.lives.$valid && vm.submitted,
                                              'has-error': vm.form.stats.lives.$invalid && vm.submitted }">
            <label>Lives</label>

            <input type="text" name="stats.lives" class="form-control" ng-model="vm.user.stats.lives"
                   />
            <p class="help-block" ng-show="vm.form.stats.lives.$error.required && vm.submitted">
             Lives is required
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': vm.form.stats.sanity.$valid && vm.submitted,
                                              'has-error': vm.form.stats.sanity.$invalid && vm.submitted }">
            <label>Sanity</label>

            <input type="text" name="stats.sanity" class="form-control" ng-model="vm.user.stats.sanity"
                   />
            <p class="help-block" ng-show="vm.form.stats.sanity.$error.required && vm.submitted">
              Sanity is required
            </p>
          </div>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Save
          </button>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>


<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>

  <detail-list show-controls="true" elements="vm.users" edit="vm.editUser" delete="vm.deleteUser" template="user"></detail-list>

</div>


