<section class="trial-list">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for..." ng-model="searchTrial">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Search!</button>
    </span>
  </div>

  <br>

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="trial in trials | orderBy: 'name' | filter:searchTrial ">
      <div class="row">

        <div class="col-xs-10">
          <a ui-sref="trials.detail({trialId: trial._id})"><strong>{{trial.name}}</strong><br></a>
          <span class="text-muted">{{trial.info || '&nbsp'}}</span>
          <div>
            <span ng-repeat="(key,value) in trial.stats" class="badge progress-bar-success ng-binding" ng-class="{
                'progress-bar-danger' : value < 0,
                'progress-bar-warning' : !value,
              }">
              {{key}} {{value}}
            </span>
          </div>
        </div>

        <div class="col-xs-2 text-right" ng-show="{{showControls}}">
          <button type="button" class="btn btn-sm btn-success" ng-click="edit(trial)"><span class="glyphicon glyphicon-edit"></span></button>
          <button type="button" class="btn btn-sm btn-danger" ng-click="delete(trial)"><span class="glyphicon glyphicon-trash"></span></button>
        </div>

      </div>
    </li>
  </ul>
</section>