.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.container.welcome {
     height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index:-1;
  background: url('/assets/images/hybrids.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top:250px;
}

.welcome .wl {
    color:white;
    font-size: 90px;
    margin-bottom: 20px;
}

.welcome .pm {
    color:#0BD269;
    font-size:110px;
}