<div class="container">
  <h1>Create Trial</h1>
  <form name="form" class="trial-form" ng-submit="add(form)" novalidate>
    <p class="input-group">
      <!--input type="text" class="form-control" placeholder="Add a new trial here." ng-model="trial.name"-->

      <!-- NAME -->
      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
        <label>Name</label>

        <input type="text" name="name" class="form-control" ng-model="trial.name"
               required/>
        <p class="help-block" ng-show="form.name.$error.required && submitted">
          A name is required
        </p>
      </div>

      <!-- INFO -->
      <div class="form-group" ng-class="{ 'has-success': form.info.$valid && submitted,
                                            'has-error': form.info.$invalid && submitted }">
        <label>Info</label>

        <input type="text" name="info" class="form-control" ng-model="trial.info"/>
        <p class="help-block" ng-show="form.info.$error.required && submitted">
          Info is required
        </p>
      </div>

      <!-- TYPE -->
      <div class="form-group" ng-class="{ 'has-success': form.type.$valid && submitted,
                                            'has-error': form.type.$invalid && submitted }">
        <label>Type</label>

        <select name="type" class="form-control" ng-model="trial.type">
          <option value="Trial" selected>Trial</option>
          <option value="Death">Death</option>
          <option value="Award">Award</option>
          <option value="Other">Other</option>
        </select>
        <p class="help-block" ng-show="form.type.$error.required && submitted">
          Type is required
        </p>
      </div>

      <!-- ACTIVE -->
      <div class="form-group" ng-class="{ 'has-success': form.info.$valid && submitted,
                                            'has-error': form.info.$invalid && submitted }">
        <label>Active</label>

        <div class="checkbox">
          <label>
            <input type="checkbox" name="active" ng-model="trial.active">
          </label>
        </div>
      </div>

      <!-- STATS: Sanity -->
      <div class="form-group" ng-class="{ 'has-success': form.sanity.$valid && submitted,
                                            'has-error': form.sanity.$invalid && submitted }">
        <label>Sanity</label>

        <input type="text" name="sanity" class="form-control" ng-model="trial.stats.sanity" required/>
        <p class="help-block" ng-show="form.sanity.$error.required && submitted">
          Sanity is required
        </p>
      </div>

      <!-- STATS: lives -->
      <div class="form-group" ng-class="{ 'has-success': form.lives.$valid && submitted,
                                            'has-error': form.lives.$invalid && submitted }">
        <label>Lives</label>

        <input type="text" name="lives" class="form-control" ng-model="trial.stats.lives" required/>
        <p class="help-block" ng-show="form.lives.$error.required && submitted">
          Lives is required
        </p>
      </div>

      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-floppy-disk"></span>
          Save
        </button>
      </span>
    </p>
  </form>
  <hr>
  <detail-list show-controls="true" elements="trials" edit="edit" delete="delete" template="trial"></detail-list>
</div>