<div class="container">
  <h1>Create Trial</h1>
  <form name="form" class="trial-form" ng-submit="add(form)" novalidate>
    <p class="input-group">
      <!--input type="text" class="form-control" placeholder="Add a new trial here." ng-model="newTrial.name"-->

      <!-- NAME -->
      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
        <label>Name</label>

        <input type="text" name="name" class="form-control" ng-model="newTrial.name"
               required/>
        <p class="help-block" ng-show="form.name.$error.required && submitted">
          A name is required
        </p>
      </div>

      <!-- INFO -->
      <div class="form-group" ng-class="{ 'has-success': form.info.$valid && submitted,
                                            'has-error': form.info.$invalid && submitted }">
        <label>Info</label>

        <input type="text" name="info" class="form-control" ng-model="newTrial.info"/>
        <p class="help-block" ng-show="form.info.$error.required && submitted">
          Info is required
        </p>
      </div>

      <!-- STATS: Sanity -->
      <div class="form-group" ng-class="{ 'has-success': form.sanity.$valid && submitted,
                                            'has-error': form.sanity.$invalid && submitted }">
        <label>Sanity</label>

        <input type="text" name="sanity" class="form-control" ng-model="newTrial.stats.sanity" required/>
        <p class="help-block" ng-show="form.sanity.$error.required && submitted">
          Sanity is required
        </p>
      </div>

      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Add New</button>
      </span>
    </p>
  </form>
  <hr>
  <trial-list show-controls="true" trials="trials" edit="edit" delete="delete"></trial-list>
</div>